<div class="footer__grid col-sm-{{ 12 | divided_by: footer_columns.size }}">
  {% assign footer_title = footer_column | append: '-title' %}{% assign footer_title = settings[footer_title] %}
  {% unless footer_title == blank %}
	<h4>{{ footer_title }}</h4>
  {% endunless %}

  {% assign footer_text = footer_column | append: '-text' %}{% assign footer_text = settings[footer_text] %}
  {% unless footer_text == blank %}
  {{ footer_text }}
  {% endunless %}

  {% assign footer_blog = footer_column | append: '-blog' %}{% assign footer_blog = settings[footer_blog] %}
  {% unless blogs[footer_blog] == empty %}
    {% for a in blogs[footer_blog].articles limit:settings.blog-list-limit %}
      {% include 'article-excerpt' %}
    {% endfor %}
  {% endunless %}
        
  {% assign footer_menu = footer_column | append: '-menu' %}{% assign footer_menu = settings[footer_menu] %}
  {% unless linklists[footer_menu] == empty %}

  <ul class="list-nav">
    {% for l in linklists[footer_menu].links %}
    <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
    {% endfor %}
  </ul>
  {% endunless %}
        
  {% assign newsletter_column = 'footer-' | append: footer_column %}
  {% if settings.newsletter-signup-placement == newsletter_column %}
  {% include 'newsletter-signup-form' with 'footer' %}
  {% endif %}
  
  {% if settings.yotpo-badge-placement == newsletter_column %}
  <div id="y-badges" class="yotpo badge badge-init"></div>
  {% endif %}
    
  {% assign social_links_column = 'social-footer-' | append: footer_column %}
  {% if settings[social_links_column] %}
  <p class="clearfix social-icons">
    {% include 'social-links' with 'lg' %}
  </p>
  {% endif %}
  

  {% if settings.custom-footer-logo != blank and footer_column == 'column-1' %}
  <p class="custom-footer-logo footer-credits">
    <a href="{{ settings.custom-footer-logo-url }}" target="_blank">
      <img src="{{ 'custom-footer-logo-file.png' | asset_url }}" alt="" class="img-responsive center-block" />
    </a>
  </p>
  {% endif %}
</div>
